* {
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100vh;
  background: #e9ecef;
}
button {
  background: none;
  border: none;
  cursor: pointer;
}
a {
  color: inherit;
  text-decoration: none;
}
