.memo-item {
  width: 500px;
  padding: 1em;
  margin: 0.5em;

  background-color: #fff;
  border-radius: 0.3em;
  border: 1px solid #f1f1f1;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__body {
    padding: 1em 0;
    margin: 1em 0;
    font-size: 0.8rem;
    border-top: 1px solid #e9ecef;
    border-bottom: 1px solid #e9ecef;
    word-wrap: break-word;
  }

  &__footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    button:not(:last-child) {
      margin-right: 0.5em;
    }
  }
}
